
  <div class="row landing-page">
    <div class="overlay">

    </div>
    <div class="col-12 col-md-4">

    </div>
    <div class="col-12 col-md-4 login-form">
      <h1 id="login-title">LOGIN</h1>
      <br />
      <%= form_tag '/login' do %>

        <%= text_field_tag :email, "",placeholder: 'Email'%>
        <%= password_field_tag :password , "", placeholder: 'Password'%><br />
        <%= submit_tag "Submit", id: 'login-submit' %>

      <% end %>


    </div>

  </div>
