<%= stylesheet_link_tag "welcome" %>

<div class="row landing-page">
  <div class="blog-title">
    <h1 id="blog-title">Dhea Mariesta</h1><br />
    <%= link_to 'Go to My Blog', controller: 'articles' %>
  </div>

</div>
